# Игнорировать все файлы проекта, кроме rfid_converter.py
hex-to-humber.py
number-to-hex.py
rfidconverter.zip
rfidhex.docx
rfidhex.xlsx

# Игнорировать временные файлы Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Игнорировать виртуальное окружение
venv/
ENV/
.env
